<div class="results-block">
  <%= render 'layouts/messages' %>

  <% if @friends.present? %>
    <div class="card card-header results-block">
      <table>
        <% @friends.each do |friend| %>
          <tr>
            <td><strong>Name: </strong> <%= "#{friend.first_name} #{friend.last_name}" %></td>
            <td><strong>E-mail: </strong> <%= friend.email %></td>
            <td><strong>Actions: </strong>
              <% if current_user.can_follow_friend?(friend.id) %>
                <%= link_to "Follow", friendships_path(user_id: current_user.id, friend_id: friend.id),
                            class: "btn btn-success follow-btn", method: :post %>
              <% elsif current_user.friend_already_followed?(friend.id) %>
                <%= link_to friendship_path(friend), method: :delete, data: {confirm: "Are you sure?"}, class: 'btn btn-danger follow-btn' do %>
                  Unfollow
                <% end %>
              <% end %>
            </td>
          </tr>
        <% end %>
      </table>
    </div>
  <% end %>
</div>